
<div id="sidebar_container">
  <%= image_tag "paperclip.png", class: "paperclip" %>
  <div class="sidebar">
    <h3>Newsletter</h3>
    <p>Los numeros sets son creados especialmente para las personsas estadisticas, asi ellas pueden guardar los numeros y luego utilizarlos. Taran!</p>
  </div>
</div>

<div id="content">
  <h1>Number Sets</h1>
  <p><%= image_tag "images.jpeg" %></p>
</div>

